.img-fluid{
    max-width: 850px;;
    height: auto;
}

.container{
    text-align:center;
    padding-top: 30px;
}
    
/* h1{
    text-shadow: none;
    text-align:left;
    background-color: white;
    margin: 20px;
} */
